{% extends 'base.html' %}

{% block title %} About{% endblock title %} 
 {% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class='container h-100 w-75 my-4'>
<div class="jumbotron bg-light h-100">
<div class='text-center'>
<img class='rounded mx-20 d-bkock' style='height:300px; width:250px; position:absolute; right:0; margin-right:240px; margin-top:140px;' src = '/static/img/me3.png '></img></div>
 <h1 class="display-3 py-3 px-5 text-center" ><b>About Me</b></h1>
 <h4 style='width:800px; margin-top:45px;margin-left:15px; text-align:justify;'> Hey There... </h4>
 <div style='width:750px; margin-top:15px;margin-left:45px; text-align:justify;'> 
<p> 
    I am Daxa Ichchhuda, from Balagam. I am studying in B.E. Computer Science & Engineering in B. H. Gardi College Of Engineering and Technology. I have completed my diploma from Government Polytechnic Porbandar. 
</p>
<p>
    I am interested in web development so I choose python with djanog for web development. This is my this first blog in Django. I love to work with Django. 

</p>
<p>
    This blog will help you to gain knowledge about programming language. stay connected with us and keep reading our blog. we will try to give you all the information you need.
    </p><p> You can contact me for any query.</p> 
 <h4> Contact Details  </h4>
 <h5> Contact No :- 9574474658 </h5>
<h5> Email ID :- blogicoder@gmail.com </h5>
  
 
  
</div>

{% endblock body %}

