<html>
<body>
    <h3 style = 'color:blue;'><b> Hello Dear {{fname}} {{lname}} ,</b> 
    <br><br> We are Happy to have you here.</h3>
    <br> <b>This is best blog from where you will learn much more information about programming language. 
    You will find many of the recourses to learn your faviourite domain.
     we will post more and more blogs so you can get more and more information about your domain.</b>
     <br><br><b> <p style='color:red;'> Login With : </p> 
      <h3><pre style='color:blue'>
      Username :  {{username}}  
      Password :  {{pass}} </pre></h3></b>
     <br><br> Stay Connected With US..!!! 
     <br> Kepp reading, Keep Learning 
     <br><br> <p style='color:red'>Thank You...:)</p>
</body>
</html>